/testConsoleApp/Debug
/win32/ipch
/win32/Debug
/win32/BasicPlugin.vcxproj.filters
/win32/basicplugin.idb
/win32/BasicPlugin.opensdf
/win32/basicplugin.pdb
/win32/BasicPlugin.sdf
/win32/BasicPlugin.v12.suo
/testConsoleApp/testConsoleApp.vcxproj.user
/testConsoleApp/testConsoleApp.vcxproj.filters
/win32/BasicPlugin.vcxproj.user
/WinLb/obj
/WinLb/bin
